    .gaf {
        display: inline-block;
        width: 330px;
        height: 450px;
        margin: 10px;
    }
    
    @font-face {
        font-family: 'MOSK';
        src: url(fonts/MOSK_ULTRA-BOLD_900.TTF);
    }
    
    @font-face {
        font-family: 'HELVETICA';
        src: url(fonts/HELVETICALTSTD-COND.OTF);
    }
    
    .disenio {
        position: absolute;
        z-index: -1;
    }
    
    .foto {
        position: absolute;
        z-index: 0;
        margin-left: 32px;
        margin-top: 74px;
    }
    
    .n1 {
        position: absolute;
        z-index: 1;
        margin-left: 150px;
        margin-top: 44px;
        font-size: 42px;
        font-family: 'MOSK';
        color: #00FF00;
        text-transform: uppercase;
    }
    
    .n2 {
        position: absolute;
        z-index: 1;
        margin-left: 150px;
        margin-top: 44px;
        font-size: 35px;
        font-family: 'MOSK';
        color: #00FF00;
        text-transform: uppercase;
    }
    
    .n3 {
        position: absolute;
        z-index: 1;
        margin-left: 150px;
        margin-top: 44px;
        font-size: 30px;
        font-family: 'MOSK';
        color: #00FF00;
        text-transform: uppercase;
    }
    
    .n4 {
        position: absolute;
        z-index: 1;
        margin-left: 150px;
        margin-top: 44px;
        font-size: 25px;
        font-family: 'MOSK';
        color: #00FF00;
        text-transform: uppercase;
    }
    
    .n5 {
        position: absolute;
        z-index: 1;
        margin-left: 150px;
        margin-top: 44px;
        font-size: 20px;
        font-family: 'MOSK';
        color: #00FF00;
        text-transform: uppercase;
    }
    
    .n6 {
        position: absolute;
        z-index: 1;
        margin-left: 150px;
        margin-top: 44px;
        font-size: 15px;
        font-family: 'MOSK';
        color: #00FF00;
        text-transform: uppercase;
    }
    
    .n7 {
        position: absolute;
        z-index: 1;
        margin-left: 150px;
        margin-top: 44px;
        font-size: 14px;
        font-family: 'MOSK';
        color: #00FF00;
        text-transform: uppercase;
    }
    
    .l1 {
        position: absolute;
        z-index: 1;
        margin-top: 84px;
        font-size: 34px;
        font-family: 'MOSK';
        color: #00FF00;
        margin-left: 150px;
        text-transform: uppercase;
    }
    
    .l2 {
        position: absolute;
        z-index: 1;
        margin-top: 84px;
        font-size: 30px;
        font-family: 'MOSK';
        color: #00FF00;
        margin-left: 150px;
        text-transform: uppercase;
    }
    
    .l3 {
        position: absolute;
        z-index: 1;
        margin-top: 84px;
        font-size: 25px;
        font-family: 'MOSK';
        color: #00FF00;
        margin-left: 150px;
        text-transform: uppercase;
    }
    
    .marca {
        position: absolute;
        z-index: 1;
        margin-left: 118px;
        margin-top: 270px;
        font-family: 'HELVETICA';
        text-transform: uppercase;
        /*text-align: center;*/
    }
    
    .serie {
        position: absolute;
        z-index: 1;
        margin-left: 118px;
        margin-top: 318px;
        font-family: 'HELVETICA';
        text-align: center;
        text-transform: uppercase;
    }