.gaf {
    background-image: url(img/gafete1.png);
    background-size: 330px 450px;
    display: inline-block;
    width: 330px;
    height: 450px;
    margin: 10px;
}

@font-face {
  font-family: 'MOSK';
  src: url(fonts/MOSK_ULTRA-BOLD_900.TTF);
}
.name{
  max-width: 30px;
}
.nombre {
    margin-top: -120px;
    font-size: 42px;
    font-family: 'MOSK';
    color: #00FF00;
    margin-left: 150px;
    text-transform: uppercase;
}

.apellido {
    margin-top: -10px;
    font-size: 34px;
    font-family: 'MOSK';
    color: #00FF00;
    margin-left: 150px;
    text-transform: uppercase;
}

.marca {
    margin-left: 15px;
}

.serie {
    margin-left: 15px;
}

.foto {
    margin-left: 47px;
    margin-top: 85px;
}
