    .gaf {
        display: inline-block;
        background-image: url("/app/assets/img/gafete.jpg");
        background-repeat: no-repeat;
        -webkit-print-color-adjust: exact;
        width: 330px;
        height: 450px;
        margin: 10px;
    }

    @font-face {
        font-family: 'HELVETICA-BOLD';
        src: url(../fonts/HelveticaLTStd-Bold.otf);
    }

    @font-face {
        font-family: 'HELVETICA-LIGHT';
        src: url(../fonts/HelveticaLTStd-Light.otf);
    }

    .disenio {
        position: absolute;
        z-index: -1;
    }

    .foto {
        object-fit: cover;
        width: 120px;
        height: 120px;
        z-index: 0;
        margin-left: 100px;
        margin-top: 30px;
        /* filter: grayscale(100%); */
    }

    .nombre_div {
      text-align: left;
      height: 80;
      width: 310px;
      margin-left: 10px;
      margin-top: 5px;
    }

    .nombre {
        z-index: 1;
        font-size: 34px;
        font-family: 'HELVETICA-BOLD';
        color: white;
        text-transform: uppercase;
        text-overflow: clip;
        margin: 0 0 0 0;
    }

    .apellido {
        z-index: 1;
        font-size: 26px;
        font-family: 'HELVETICA-BOLD';
        color: white;
        margin: 0 0 0 0;
    }

    .marca {
        position: absolute;
        z-index: 1;
        margin-left: 105px;
        margin-top: 246px;
        font-family: 'HELVETICA-LIGHT';
        text-transform: uppercase;
        /*text-align: center;*/
    }

    .serie {
        position: absolute;
        z-index: 1;
        margin-left: 103px;
        margin-top: 290px;
        font-family: 'HELVETICA-LIGHT';
        text-align: center;
        text-transform: uppercase;
    }

    .box {
        text-align: center;
        width: 300px;
        border: 10px solid green;
        font-family: 'HELVETICA-BOLD';
        color: white;
        padding: 25px;
        margin: 25px;
    }
